# Virtual environment
backend_env/
venv/
env/

# Python cache
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Django
*.log
*.pot
db.sqlite3
media/

# Environment variables
.env
.env.*

# OS
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/
*.swp
*.swo

# Distribution / packaging
dist/
build/
*.egg-info/

# Node (for React frontend later)
node_modules/
dist/
.env.local
